{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/slider.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>File</th>
            <th>User</th>
            <th>Description</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for uploadedfile in uploadedfile_list %}
            <tr>
                <th scope="row">{{ uploadedfile.id }}</th>
                <th>
                    <a href="{% url 'app:download' uploadedfile.id %}" data-content="{{ uploadedfile.name }}" class="encrypted download">Нужен ключ</a>
                </th>
                <td class="encrypted" data-content="{{ uploadedfile.description }}">Нужен ключ</td>
                <th>{{ uploadedfile.user.username }}</th>
                <td>{{ uploadedfile.created }}</td>
                <td>{{ uploadedfile.updated }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="id_decrypt" style="background-image: url({% static 'images/padlockIcon.png' %});width: 100px;height: 100px;position: absolute;right: 0;box-shadow: 0 0 8px grey;cursor: pointer">

</div>

<div id="slider" style="right:-404px;">
    <div id="sidebar" onclick="open_panel()">
        <img src="{% static 'images/c065867ac7beefe25dc50a1869ae057e.png' %}">
    </div>
    <div id="header">
        <form action="{% url 'app:upload' %}" id="id-upload-form">
            <input type="file">
            <input type="hidden" name="file_content" id="id_file_content">
            <input type="hidden" name="name" id="id_name">
            <input type="hidden" name="description" id="id_description_hidden">
            <textarea id="id_description" cols="30" rows="30"></textarea>
            <input type="submit" value="Отправить">
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script src="https://bitwiseshiftleft.github.com/sjcl/sjcl.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>